body {
    font-family: Inter, sans-serif;
    font-size: 14px;
    color: white;
    background: #141E26;
    margin: 200px;
    margin-top: 25px;
}

.primerBloc {
  max-width: 1250px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #3f474d;
  gap: 40px;
  box-shadow: 0 1px 5px black;
}

.fotoPersona {
  flex: 1;
  display: flex;
  justify-content: center;
}

.fotoPersona img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
}

.contingutDretaPersona {
  flex: 2;
  display: flex;
  flex-direction: column;
}

.blocInfoPersona {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.aptituds, .contacte{
  flex: 1;
  text-align: left;  
}

.liniaVertical1, .liniaVertical2 {
  width: 2px;
  background-color: white;
  opacity: 20%;
  border-radius: 2px;
  margin-right: 20px;
}

.liniaVertical1 {
  height: 300px;
  align-self: center;
  margin-bottom: -29px;
}

.liniaVertical2 {
  height: 75px;
  align-self: top;
}

h1, h2 {
  font-family: Inter, sans-serif;
  font-weight: 700;
}

h1 {
  font-size: 30px;
  text-align: left;
  text-shadow: 0 1px 2px black;
  margin: 0;
  border-bottom: 1px solid white;
}

h2 {
  
  font-size: 20px;
  padding-left: 8px;
  border-left: 3px solid white;
  margin-bottom: 25px;
}

ul.llistat{
    list-style-type: none;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.checkmark {
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    margin-right: 8px;
    text-shadow: 0 4px 4px black;
}

.icon {
    color: white;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg); /*Per fer-la de color blanc*/
    
}

.segonBloc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1250px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.experiencia,.educacio {
  flex: 1;
  text-align: left;
}

h3 {
  font-size: 15px;
}

.subtext {
  font-size: 12px;
  color: grey;
  margin-top: -10px;
}

.tercerBloc {
  max-width: 1250px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.blocLlengues, .blocInfoAd {
  flex: 1;
}

.blocLlengues {
  margin-right: 45px;
}

.banderes, .infoAd {
  background-color: #202931;
  border-radius: 15px;
  box-shadow: 0px 0px 3px black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.bandera {
  margin: 5px;
  width: 115px;
}

.blocInfoAd {
  margin-left: 45px;
}

.descripcio {
  text-align: center;
  font-size: 12px;
  color: grey;
}

/* Per pantalles petites */

@media (max-width: 850px) {
    
    body {
        margin: 15px; /* De 200px passem a 15px */
        width: auto;
    }

    .primerBloc, 
    .segonBloc, 
    .tercerBloc,
    .blocInfoPersona {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .contingutDretaPersona,
    .aptituds, 
    .contacte,
    .experiencia, 
    .educacio,
    .blocLlengues, 
    .blocInfoAd {
        width: 100%;
        text-align: center;
        margin: 0;
    }

    .liniaVertical1, 
    .liniaVertical2 {
        display: none;
    }
    
    .fotoPersona img {
        width: 150px;
        height: 150px;
    }

    .blocLlengues {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .blocInfoAd {
        margin-left: 0;
    }

    .banderes {
        flex-wrap: wrap;
        height: auto;
        padding: 10px;
    }
}
